<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Seats</title>
    <link rel="stylesheet" href="../css/asientos.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="../js/module/asientos.js"></script>
</head>
<body>
    <header class="choose__seat">
        <a href="/movies">
            <i class='bx bx-chevron-left'></i>
        </a>
        
        <h4>Choose Seat</h4>
        <i class='bx bx-menu-alt-right'></i>
    </header>

    <main class="teather">
        <section class="screen">
            <img src="../img/screen2.jpg" alt="screen">
            <p>Screen This way</p>
        </section>

        <section id="seatsContainer" class="seats">
            <!-- Seats will be dynamically inserted here -->
        </section>

        <div class="conventions">
            <i class='bx bxs-circle'></i>
            <p>Available</p>
            <i class='bx bxs-circle'></i>
            <p>Reserved</p>
            <i class='bx bxs-circle'></i>
            <p>Selected</p>
        </div>

        <section id="dateContainer" class="dates">
            <!-- Date buttons will be dynamically inserted here -->
        </section>

        <section id="projectionsContainer" class="projections">
            <!-- Projections will be dynamically inserted here -->
        </section>
    </main>

    <footer class="payment">
        <div class="price">
            <p>Price</p>
            <p id="totalPrice">$0.00</p>
        </div>
        <div class="buy">
            <button id="buyTicket">Buy ticket</button>
        </div>
    </footer>

   
</body>
</html>