<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineCampus</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="../js/movieService.js"></script>
    <script src="../js/module/home.js"></script>
</head>
<body>

    <header class="header__name">
        <div class="header__name__main">
            <div class= "profile__picture">
                <img src="https://i.pinimg.com/736x/13/87/b6/1387b60aa30bf4d99baa348934f80dba.jpg" alt="Profile picture">
                

            </div>
          
            <div class="welcome_message">
                <h1>Welcome, Jane Doe!</h1>
                 <h3> Let's watch a movie together!</h3>

            </div>
            
            <div class="bell__icon">
                <i class='bx bxs-bell'></i>
              

            </div>

        </div>
        <div class="search_bar">
            <i class='bx bx-search'></i>
            <input 
            type="text" placeholder="Search for a movie...">
        </div>


    </header>

    <main class= "now__playing">

        <div class="now__playing__title">
            <h2>Now Playing</h2>
            <button href="#">See All</button>

        </div>
        <div class="movie__carrusel">
            
        

       

        </div>
        <div class ='carrusel__icons'>

            <i class='bx bxs-square-rounded' ></i>
            <i class='bx bxs-square-rounded' ></i>
            <i class='bx bxs-square-rounded' ></i>
        </div>




    </main>
    <footer class="footer">
        <div class="comming__soon__title">
            <h3>Coming Soon</h3>
            <a href="#" >See All</a>
                
        </div>
          
                <div class="comming__soon__movies">
                   
                </div>
    
                
            
        
      

            
    
    </footer>
    <div class="bottom-nav">
        <nav class="bottom-nav__menu">
            <a href="#" class="bottom-nav__item active">
                <i class='bx bx-home'></i>
                <span>Home</span>
            </a>
            <a href="#" class="bottom-nav__item">
                <i class='bx bx-movie-play'></i>
                <span>Browse</span>
            </a>
            <a href="#" class="bottom-nav__item">
                <i class='bx bx-purchase-tag-alt'></i>
                <span>Tickets</span>
            </a>
            <a href="#" class="bottom-nav__item">
                <i class='bx bx-user'></i>
                <span>Profile</span>
            </a>
        </nav>
    </div>
    

    
</body>
</html>