<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay</title>
    <link rel="stylesheet" href="../css/pagos.css">
   <script src="../js/module/pagos.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> 
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <section class="up">
        <header class="order">
            <i onclick="history.back()" class='bx bx-chevron-left'></i>
            <h4>Order Summary</h4>
            <i class="bi bi-three-dots-vertical"></i>
         
    
        </header>
        <section class="movie">
            <div class="movie__cover ">
                <img src="https://i.pinimg.com/736x/bd/98/88/bd9888c5a942f7490c9b10b345cc585c.jpg" alt="movie cover">
            </div>
            <div class="movie__info">
               <div class="movie__info2"> 
                <p>Titulo de la pelicula</p>
                <p> Genero</p>
               </div>
                <div class="movie__info3">
                    <p> Director</p>
                    <p> fecha</p>
                </div>
            </div>
          
    
        </section>
    </section>
    
    <main class= "ticket">
        
        <div class="order__title">
            <p>ORDER NUMBER: 289374</p>
        </div>
        <div class="ticket__info">
            <p>1 TICKET</p>
            <p>C5</p>

        </div>
        <div class="divider"></div>
        <div class="ticket__info2">
            <p>REGULAR SEAT</p>
            <p>$32.00</p>
            
        </div>
        <div class="divider"></div>

        <div class="ticket__info3">
            <p>1 SERVICE FEE</p>
            <p>$1.44</p>

        </div>
        <div class="divider"></div>


    </main>
    <section class="payment">
        <h4>Payment method</h4>
        <div class="payment__method">
            <img src="../img/credit__card.png" alt="cardddd">
            <div>
                <p>MasterCard</p>
                <p>.... .... .... 9887</p>
            </div>
            <label class="custom-checkbox">
                <input type="checkbox" />
                <span class="checkmark"></span>
             
            </label>
        </div>
        <div class="alert">
            <p>complete your payment in</p>
            <p>03:00</p>
        </div>

    </section>
    <footer class="buy">
        <button>
            Buy ticket
        </button>

    </footer>
    
    

</body>
</html>