<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
    <link rel="stylesheet" href="../css/peliculas.css">
</head>
<body>
    <header class="cinema__header">
        <i class='bx bx-chevron-left'></i>
        <h2>Cinema Selection</h2>
        <i class="bi bi-three-dots-vertical"></i>
    </header>
    <main class="movie__info">
        <div class="movie__cover">
            <div class="movie__img">
            <img src="https://i.pinimg.com/736x/bd/98/88/bd9888c5a942f7490c9b10b345cc585c.jpg" alt="movie_cover">

            </div>
          
            <div class="title__trailer">
                <div class="title">
                    <p>Puss in boots</p>
                    <p>genero</p>
                </div>
                <button><i>D</i> Watch Trailer</button>
            </div>
        
        </div>
        <div class="movie__description">
            <p>Lorem, ipsum dolor sit amet c.</p>

        </div>

        <div class="movie__actors">
            <div class="actors__info">
                <img src="https://m.media-amazon.com/images/M/MV5BMjQyNzM2MjM1Ml5BMl5BanBnXkFtZTcwMDE5NjI3Mg@@._V1_.jpg" alt="actor__img">
                <p>Nombre del  actor</p>
                <p>personaje</p>
            </div>
            <div class="actors__info">
                <img src="https://m.media-amazon.com/images/M/MV5BMjQyNzM2MjM1Ml5BMl5BanBnXkFtZTcwMDE5NjI3Mg@@._V1_.jpg" alt="actor__img">
                <p>Nombre del  actor</p>
                <p>personaje</p>
            </div>
            <div class="actors__info">
                <img src="https://m.media-amazon.com/images/M/MV5BMjQyNzM2MjM1Ml5BMl5BanBnXkFtZTcwMDE5NjI3Mg@@._V1_.jpg" alt="actor__img">
                <p>Nombre del  actor</p>
                <p>personaje</p>
            </div>
            

        </div>


    </main>
    <section class="cinema__info">
        <h6>Cinema</h6>
        <div class="cinema__op">
            <h5>CineCampus</h5>
            <p>cinema description</p>
            <img src="" alt="cine_img">


        </div>
        <div class="cinema__op">
            <h5>CineCampus</h5>
            <p>cinema description</p>
            <img src="" alt="cine_img">

        </div>
    </section>
    <footer class="book__ticket">
        <button>Book Now</button>

    </footer>    
</body>
</html>