<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/peliculas.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
    <script type="module" src="../js/module/peliculas_info.js" defer></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>

</head>
<body>
    <header>
        <a href="/movies/"><i class='bx bx-chevron-left'></i></a>
        <h4>Cinema Selection</h4>
        <i class='bx bx-dots-vertical-rounded'></i>
    </header>
    <main id="main">
        <!-- <section id="video-main" class="video-main">
            <img src="" alt="">


            
        </section>
        <section class="info_video-main">
            <div>
                <h5>Puss in boots the last wish</h5>
                <p>Action, Adventure</p>
            </div>
            <button>Watch Trailer</button>
        </section>
        <section class="detalle_video-main">
            <p class="p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto nihil eveniet omnis consequuntur optio magni, placeat maxime tenetur, soluta voluptates ipsam odio, molestias repellat corporis? Quaerat cupiditate laudantium quae consequatur!</p>
            <div class="detalle_video-actor">
                <p>Cast</p>
                <div class="actor-list">
                    <div class="actor-info">
                        <img src="https://i.postimg.cc/qRGy3vB2/furiosa.jpg" alt="Antonio Banderas">
                        <div>
                            <p class="actor-name">Antonio Ban</p>
                            <p class="actor-role">Puss in Boots</p>
                        </div>
                    </div>
                    <div class="actor-info">
                        <img src="https://i.postimg.cc/qRGy3vB2/furiosa.jpg" alt="Salma Hayek">
                        <div>
                            <p class="actor-name">Salma Hayek</p>
                            <p class="actor-role">Kitty Softpaws</p>
                        </div>
                    </div>
                    <div class="actor-info">
                        <img src="https://i.postimg.cc/qRGy3vB2/furiosa.jpg" alt="Harvey Guillén">
                        <div>
                            <p class="actor-name">Harvey Guillén</p>
                            <p class="actor-role">Perro</p>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="detalle_video-cinema">
                <p class="actor-name">Cinema</p>
                <div class="cinema-info">
                    <div>
                        <p class="actor-name">Campuslands</p>
                        <p class="actor-role">Zona Franca, Floridablanca</p>
                    </div>
                    <img src="https://i.postimg.cc/qRGy3vB2/furiosa.jpg" alt="Antonio Banderas">
                </div>
            </div>
        </section> -->
    </main>
    <footer>
        <button>Book Now</button>
    </footer>
</body>
</html>