@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    background-color: var(--color1);
    font-family: "Poppins", sans-serif;
}

@media (max-width: 800px) {

    /* HEADER  */
    .header__name {
        padding: 2rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    }

    .header__name__main {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        align-items: center;
        padding-bottom: 1rem;
    }

    .welcome_message {
        padding-right: 2rem;
    }

    .welcome_message h1 {
        font-size: 1em;
        font-weight: 300;
        padding-bottom: 0.4em;
    }

    .welcome_message h3 {
        font-size: 0.8em;
        font-weight: bold;
    }

    .profile__picture img {
        width: 3.5em;
        border-radius: 50%;
    }

    .bell__icon i {
        display: flex;
        align-items: center;
        font-size: 1.4em;
        border: 1.5px solid var(--color2);
        border-radius: 20%;
        padding: 0.5rem;
    }

    /* BUSCADOR */
    .search_bar {
        display: flex;
        gap: 1rem;
        padding: 0.8rem 0 0.8rem 1rem;
        border: 1px solid var(--color2);
        border-radius: 1em;
    }

    .search_bar input {
        font-size: 1rem;
        width: 85%;
        border: 0;
    }

    .search_bar i {
        font-size: 1.5em;
    }

    /* NOW PLAYING */
    .carrusel__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.3rem 0;
        gap: 0.3rem;
    }

    .carrusel__icons :nth-child(1),
    .carrusel__icons :nth-child(3) {
        font-size: small;
        color: white;
    }

    .carrusel__icons :nth-child(2) {
        color: var(--color6);
    }

    .now__playing__title {
        display: flex;
        justify-content: space-between;
        margin: 0 2.3rem;
    }

    .now__playing__title h2 {
        font-size: 1.2em;
        margin-bottom: 0.6rem;
    }

    .now__playing__title button {
        font-size: 0.9em;
        font-weight: bolder;
        border: none;
        background-color: transparent;
        color: var(--color6);
    }

    .movie__carrusel {
        display: flex;
        flex-wrap: nowrap;
        gap: 1.3rem;
        height: 45vh;
        align-items: center;
        overflow: scroll;
    }

    .movie__carrusel div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .movie__carrusel a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .movie__carrusel__cover img {
        width: 24vh;
        height: 36vh;
        border-radius: 1.5em;
    }

    .movie__carrusel__cover p {
        font-size: 0.7em;
    }

    .movie__carrusel__cover h4 {
        margin-top: 0.5em;
        font-size: 0.8em;
    }

    /* COMING SOON */
    .comming__soon__title {
        display: flex;
        justify-content: space-between;
        margin: 0 2.5rem;
    }

    .comming__soon__title h3 {
        font-size: medium;
        padding-bottom: 0.5rem;
    }

    .comming__soon__title a {
        font-weight: bold;
        font-size: small;
        text-decoration: none;
        color: var(--color6);
    }

    .comming__soon__movies {
        margin: 0 2em 5rem;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .comming__soon__carrusel a{
        display: flex;
        width: 100%;
        gap: 1rem;
        margin: 0 0.5rem;
        padding: 0.5rem;
        align-items: center;
        background-color: #272727;
        border-radius: 1.5em;
     text-decoration: none;

       
    }
    .comming__soon__carrusel{
        display: flex;
        align-items: center;
        width: 100%;
       
    }

    .comming__soon__carrusel img {
        width: 5em;
        height: 5em;
        border-radius: 1.5em;
    }

    .comming__soon__carrusel h5 {
        font-size: 0.9em;
        background-color: transparent;
    }

    .comming__soon__carrusel p {
        font-size: 0.8em;
        background-color: transparent;
     margin-left: 4rem;
    }

    /* BOTTOM NAVIGATION */
    .bottom-nav {
        background-color: var(--color1);
        position: fixed;
        bottom: 0;
        width: 96%;
        padding: 0.5rem;
        box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.5);
        border-top-left-radius: 1.5em;
        border-top-right-radius: 1.5em;
        height: 6vh;
        overflow: hidden;
    }

    .bottom-nav__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: transparent;
    }

    .bottom-nav__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        color: #fff;
        text-decoration: none;
        font-size: 1em;
    }

    .bottom-nav__item i {
        font-size: 1.5em;
        margin-bottom: 5px;
    }

    .bottom-nav__item.active {
        color: var(--color6);
    }

    .bottom-nav__item.active i,
    .bottom-nav__item.active span {
        color: var(--color6);
    }
}
