*{
    padding: 0; 
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
    align-items: center;
    font-size:  1.2rem;



}
header i{
    font-size:  1.5rem;
}
